<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="cn.vinc"  />

    <task:annotation-driven />

    <context:property-placeholder location="classpath:*.properties" ignore-unresolvable="true"/>

     <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg type="java.util.Properties" ref="kaptchaConfig"/>
            </bean>
        </property>
    </bean>
    <util:properties id="kaptchaConfig" location="classpath:kaptcha-config.properties"/>

    <import resource="spring-dao.xml"/>
    <import resource="spring-redis.xml"/>

</beans>