<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="cn.vinc.web"/>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <!--<bean class="org.springframework.web.servlet.view.XmlViewResolver" p:location="classpath:spring-views.xml"/>-->

    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping patcooluser/**"/>-->
            <!--<mvc:mapping path="/admin/**"/>-->
            <!--<bean clacn.vinc.web.interceptorptor.SessionInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!-- <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"
             p:validationMessageSource-ref="messageSource"
             p:providerClass="org.hibernate.validator.HibernateValidator"/>-->

    <!--<bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource"
            p:basename="i18n/messages"
            p:defaultEncoding="UTF-8"/>

    <bean id="localeResolver"  class="org.springframework.web.servlet.i18n.FixedLocaleResolver"
            p:defaultLocale="zh_CN"/>-->

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="prefix" value="/WEB-INF/jsp/" />-->
    <!--<property name="suffix" value=".jsp" />-->
    <!--</bean>-->

</beans>